@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('att.png');
    background-size: 50%;
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
      color:black;
    }
    50% {
      transform: scale(1.1);
      color: red;
    }
    100% {
      transform: scale(1);
      color: black;
    }
  }
  
  .pulse-animation {
    animation: pulse 1s infinite;
  }